---

---

<footer>
  <p>©2024 DRBR</p>
</footer>
<style lang="scss">
  footer {
    height: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    color: #fff;
    position: fixed;
    bottom: 10px;
    left: 10px;
  }
</style>
<script>
  import "@/scripts/global.ts";
</script>
