---
const params = Astro.params;
---

<header>
  <h1>Astro Base THREE</h1>
  <ul>
    <li><a href="/">TOP</a></li>
    <li><a href="/about">ABOUT</a></li>
  </ul>
</header>

<style lang="scss">
  header {
    height: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 100;
    h1 {
      color: #fff;
      font-size: 16px;
    }
    ul {
      display: flex;
      gap: 10px;
      a {
        @include grid-center;
        background-color: #fff;
        color: #000;
        font-size: 12px;
        display: block;
        padding: 6px 12px;
        border-radius: 4px;
      }
    }
    @include mq(sp) {
      display: none;
    }
  }
</style>
